{% extends "layout.html" %}
{% block title %}Дело {{ case_num }}{% endblock %}

{% macro similar(name, collection) %}
    <div class="col">
        <h3>{{ name }}</h3>
    {% for doc_id, doc_text, meta in collection %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for('doc', idx=doc_id) }}" class="card-link">{{ meta['case_num'] }}</a>
                </h5>
                <p class="card-text">
                    {{ doc_text|truncate(200) }}
                </p>
                <div>
                    <button role="button" class="btn btn-success rate"
                            data-doc-id="{{ idx }}" data-rec-id="{{ doc_id }}" data-score="1">ДА</button>
                    <button role="button" class="btn btn-danger rate"
                            data-doc-id="{{ idx }}" data-rec-id="{{ doc_id }}" data-score="-1">НЕТ</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endmacro %}

{% block body %}
<div class="row">
    <div class="col-6">
        <h2>Текст документа</h2>
        <p>
            {{ doc|replace("\n", "<p>")|safe }}
        </p>
    </div>
    <div class="col-6">
        <h2>Похожие документы</h2>
        <div class="row">
            {{ similar('LSI(k=300)', lsi) }}
            {{ similar('Doc2vec(k=300)', d2v) }}

            {{ similar('ARTM(k=300)', artm) }}
            {{ similar('ARTM TF-IDF(k=300)', artm_tfidf) }}
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.rate').click(function (e) {
        const doc_id = $(this).data('doc-id');
        const rec_id = $(this).data('rec-id');
        const score = $(this).data('score');
        $(this).attr('disabled', 'true');
        $.post(`/rate/${doc_id}/${rec_id}`, {score})
            .always(() => $(this).removeAttr('disabled'));
    })
</script>
{% endblock %}